---
import menu from "../data/menu.json";
import Drawer from "./Drawer.astro";
import Logo from "../assets/venn.svg";

const pageUrl = Astro.url.pathname;

/**
 * Is the current page related to the given menu item?
 * @param {string} menuItem
 * @returns {boolean}
 */
const isActiveMenuItem = (menuItem) =>
  pageUrl.includes(menuItem.url) || menuItem.activeUrls.includes(pageUrl);
---

<header>
  <div class="header-dock">
    <a href="/#main" title="home">
      <Logo height={50} stroke-width={10} />
    </a>
    <button id="menu-button">menu</button>
  </div>

  <Drawer>
    <nav>
      <ul>
        {
          menu.map((menuItem) => (
            <li>
              {isActiveMenuItem(menuItem) ? (
                <a href="#main" class="active">
                  {menuItem.name}
                </a>
              ) : (
                <a href={menuItem.url}>{menuItem.name}</a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
  </Drawer>
</header>

<script>
  const drawer = document.querySelector("#menu-drawer");
  const openButton = document.querySelector("#menu-button");
  openButton?.addEventListener("click", () => drawer?.show());
</script>

<style>
  .header-dock {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s-3);
    padding: var(--s-1);
    background-color: var(--color-bg-light);
  }

  #menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  nav {
    padding: var(--s0);
  }

  ul {
    list-style-type: "";
    gap: var(--s-2);
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }
</style>
