---
import menu from "../data/menu.json";

const pageUrl = Astro.url.pathname;

/**
 * Is the current page related to the given menu item?
 * @param {string} menuItem
 * @returns {boolean}
 */
const isActiveMenuItem = (menuItem) =>
  pageUrl.includes(menuItem.url) || menuItem.activeUrls.includes(pageUrl);
---

<header>
  <img src="/src/assets/signature.svg" alt="" />
  <nav>
    <ul>
      {
        menu.map((menuItem) => (
          <li>
            {isActiveMenuItem(menuItem) ? (
              <a href="#main" class="active">
                {menuItem.name}
              </a>
            ) : (
              <a href={menuItem.url}>{menuItem.name}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    grid-area: header;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-inline: var(--s-2);
    margin-block-end: var(--s3);

    &::before {
      content: "";
      height: 3px;
      width: 15rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: var(--c-violet);
    }
  }

  img {
    max-width: 12rem;
  }

  nav {
    margin-block-end: var(--s-2);
  }

  ul {
    list-style-type: "";
    display: inline-flex;
    gap: var(--s-2);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--c-navy);
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    header {
      align-items: start;
      padding-inline: var(--s-2);

      &::before {
        width: 3px;
        height: 10rem;
        top: 0;
        left: 0;
        bottom: unset;
        right: unset;
        background-color: var(--c-violet);
      }
    }

    ul {
      display: block;
    }
  }
</style>
