---
import menu from "../data/menu.json";
import Drawer from "./Drawer.astro";

const pageUrl = Astro.url.pathname;

/**
 * Is the current page related to the given menu item?
 * @param {string} menuItem
 * @returns {boolean}
 */
const isActiveMenuItem = (menuItem) =>
  pageUrl.includes(menuItem.url) || menuItem.activeUrls.includes(pageUrl);
---

<header>
  <button id="menu-button">menu</button>

  <Drawer>
    <nav>
      <ul>
        {
          menu.map((menuItem) => (
            <li>
              {isActiveMenuItem(menuItem) ? (
                <a href="#main" class="active">
                  {menuItem.name}
                </a>
              ) : (
                <a href={menuItem.url}>{menuItem.name}</a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
  </Drawer>
</header>

<script>
  const drawer = document.querySelector("#menu-drawer");
  const openButton = document.querySelector("#menu-button");
  openButton?.addEventListener("click", () => drawer?.show());
</script>

<style>
  #menu-button {
    background: none;
    border: none;
  }
  nav {
    padding: var(--s0);
  }

  ul {
    list-style-type: "";
    gap: var(--s-2);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--c-navy);
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }
</style>
