---
import menu from "../data/menu.json";

const pageUrl = Astro.url.pathname;

/**
 * Is the current page related to the given menu item?
 * @param {string} menuItem
 * @returns {boolean}
 */
const isActiveMenuItem = (menuItem) =>
  pageUrl.includes(menuItem.url) || menuItem.activeUrls.includes(pageUrl);
---

<header>
  <nav>
    <ul>
      {
        menu.map((menuItem) => (
          <li>
            {isActiveMenuItem(menuItem) ? (
              <a href="#main" class="active">
                {menuItem.name}
              </a>
            ) : (
              <a href={menuItem.url}>{menuItem.name}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    grid-area: header;
    padding: var(--s0);
  }

  ul {
    list-style-type: "";
    display: inline-flex;
    gap: var(--s-2);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--c-navy);
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    ul {
      display: block;
    }
  }
</style>
