---
/**
 * Renders a card representing (and linking to) a post
 */

import Time from "./Time.astro";

const { post } = Astro.props;
---

<article>
  <a href={`/posts/${post.slug}`}>{post.data.title}</a>

  <p>{post.data.lede}</p>

  <Time date={post.data.date} format="MMMDYYYY" />

  {
    post.data.tags && (
      <ul role="list" class="tags">
        {post.data.tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
    )
  }
</article>

<style>
  a {
    font-family: var(--font-heavy);
    font-size: var(--s1);
  }

  time {
    text-transform: uppercase;
  }

  .tags {
    list-style-type: "";
    display: inline-flex;
    gap: var(--s-2);
    padding: 0;

    li {
      text-transform: uppercase;
    }
  }
</style>
