---
/**
 * Renders current "now" updates, and links to previous ones.
 */

import { getCollection } from "astro:content";
import Time from "../../components/Time.astro";
import Page from "../../layouts/Page.astro";
import { formatDate } from "../../utils/time";

const nows = await getCollection("now");
const sortedNows = nows.sort(
  (a, b) => +new Date(a.data.date) - +new Date(b.data.date)
);
const latestNow = sortedNows.slice(-1)[0];
const previousNows = sortedNows.slice(0, -1);
const { Content } = await latestNow.render();

const nowDateFormat = "monthYear";
---

<Page title="now">
  <p class="lede" slot="lede">
    Quick little updates on what's going on
    <a href="https://sive.rs/nowff">now</a> in my life, career, etc. Here's the latest!
  </p>

  <h2>
    <Time date={latestNow.data.date} format={nowDateFormat} />
  </h2>

  <div class="now">
    <Content />
  </div>

  {
    previousNows && (
      <>
        <h2>Previously...</h2>
        <ul class="previously">
          {previousNows.map((n) => (
            <li>
              <a href={`/now/${n.data.date}`}>
                <Time date={n.data.date} format={nowDateFormat} />
              </a>
            </li>
          ))}
        </ul>
      </>
    )
  }
</Page>

<style>
  .previously {
    li + li {
      margin-block-start: 0;
    }
  }
</style>
