---
import "../styles/styles.css";
import site from "../data/site.json";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<style>
  body {
    --left-border-width: var(--s-1);
    position: relative;
    min-height: 100vh;
    background-color: var(--c-bg);
    margin: 0;
    margin-inline-start: var(--left-border-width);
    display: grid;
    grid-template-rows: auto 1fr auto;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: calc(var(--left-border-width) * -1);
      bottom: 0;
      width: var(--left-border-width);
      background: linear-gradient(
        to bottom,
        var(--c-teal),
        var(--c-navy),
        var(--c-violet)
      );
    }
  }
  main {
    margin: 1rem;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={site.description} />
    <meta property="og:title" content={site.og.title} />
    <meta property="og:url" content={site.og.url} />
    <meta property="og:description" content={site.og.description} />
    <meta property="og:image" content={site.og.image} />
    <meta property="twitter:title" content={site.twitter.title} />
    <meta property="twitter:description" content={site.twitter.description} />
    <meta property="twitter:image" content={site.twitter.image} />
    <meta property="twitter:card" content={site.twitter.card} />

    <title>{title ? `${title} | ` : ""}{site.title}</title>
  </head>

  <body>
    <Header />

    <main id="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>
