---
/**
 * Parent for all pages (preferrably used via other page layouts).
 */

import "@shoelace-style/shoelace/dist/themes/light.css";

import "../styles/styles.css";
import site from "../data/site.json";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomepageHero from "../components/HomepageHero.astro";

const { title, description, image } = Astro.props;
const pageUrl = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={site.description} />
    <meta property="og:title" content={site.og.title} />
    <meta property="og:url" content={site.og.url} />
    <meta
      property="og:description"
      content={description || site.og.description}
    />
    <meta property="og:image" content={image || site.og.image} />

    <title>{title ? `${title} | ` : ""}{site.title}</title>
  </head>

  <body>
    {pageUrl === "/" ? <HomepageHero /> : null}

    <div class="site-layout">
      <Header />

      <main id="main">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<script>
  // setBasePath to tell Shoelace where to load icons from.
  import { setBasePath } from "@shoelace-style/shoelace/dist/utilities/base-path.js";
  setBasePath("/shoelace-assets/");

  // Load select components.
  import "@shoelace-style/shoelace/dist/components/drawer/drawer.js";
</script>

<style>
  .site-layout {
    display: grid;
    min-height: 100dvh;
    column-gap: var(--s0);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  main {
    grid-area: main;
    padding: var(--s0);
  }
</style>
