---
/**
 * Layout for a single post (from content/posts)
 * @param post the entire content of the post
 */

import Document from "./Document.astro";
import Time from "../components/Time.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<Document
  title={post.data.title}
  description={post.data.lede}
  image={post.data.image}
>
  <article class="prose stack">
    <header class="stack">
      <h1>{post.data.title}</h1>
      <p class="lede">{post.data.lede}</p>
      <div class="small">
        <Time date={post.data.date} format="MMMDYYYY" />
        {
          post.data.tags?.length > 0 && (
            <ul class="inline-list">
              {post.data.tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          )
        }
      </div>

      {post.data.image && <img src={post.data.image} />}
    </header>

    <Content />
  </article>
</Document>

<style>
  article {
    display: grid;
    grid-template-columns: var(--grid-page-columns);
    grid-template-rows: 61.8dvh auto;

    * {
      grid-column: prose;
    }
  }

  header {
    align-content: end;
    justify-self: start;
    grid-column: content;

    div {
      margin-block-start: var(--s-1);
    }

    ul {
      text-transform: uppercase;
    }
  }
</style>
