---
/**
 * Layout for a single post (content/posts)
 */

import Document from "./Document.astro";
import Time from "../components/Time.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<Document title={post.data.title}>
  <article class="gappy">
    <header>
      <h1>{post.data.title}</h1>
      <p class="lede">{post.data.lede}</p>
      <div class="small">
        <Time date={post.data.date} format="MMMDYYYY" />
        {
          post.data.tags?.length > 0 && (
            <ul class="inline-list">
              {post.data.tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          )
        }
      </div>
    </header>

    <Content />
  </article>
</Document>

<style>
  header {
    margin-block-end: var(--s5);

    div {
      margin-block-start: var(--s-1);
    }
  }

  h1 {
    --font: var(--font-heavy);
    --font-size: var(--s6);

    color: var(--c-navy);
    line-height: 0.9;
    -webkit-text-stroke: 0.02em var(--c-navy-lighter);
    text-shadow: 0.02em 0.02em var(--c-teal);
    margin-block-end: var(--s0);
  }

  ul {
    text-transform: uppercase;
  }
</style>
