---
/**
 * Layout for a single post (from content/posts)
 * @param post the entire content of the post
 */

import Document from "./Document.astro";
import Time from "../components/Time.astro";

const { post } = Astro.props;
const { title, lede, date, image, tags } = post.data;
const { Content } = await post.render();
---

<Document title={title} description={lede} image={image}>
  <article class="prose stack layout-weight-right">
    <header class="stack">
      <h1>{title}</h1>
      <p class="lede">{lede}</p>
      <div class="small">
        <Time date={date} format="MMMDYYYY" />
        {
          tags?.length > 0 && (
            <ul class="inline-list">
              {tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          )
        }
      </div>

      {image && <img src={image} />}
    </header>

    <Content />
  </article>
</Document>

<style>
  header {
    grid-column: content;
    height: 61.8dvh; /* TODO: variable */
    align-content: end;
    justify-self: start;

    div {
      margin-block-start: var(--s-1);
    }

    ul {
      text-transform: uppercase;
    }
  }
</style>
