---
/**
 * Layout for a single post (content/posts)
 */

import Document from "./Document.astro";
import Time from "../components/Time.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<Document title={post.data.title}>
  <article>
    <header class="gappy">
      <h1>{post.data.title}</h1>
      <p class="lede">{post.data.lede}</p>
      <div class="small">
        <Time date={post.data.date} format="MMMDYYYY" />
        {
          post.data.tags?.length > 0 && (
            <ul class="inline-list">
              {post.data.tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          )
        }
      </div>

      {post.data.image && <img src={post.data.image} />}
    </header>

    <Content />
  </article>
</Document>

<style>
  article {
    --content: minmax(auto, 60ch);

    display: grid;
    grid-template-columns: 1fr 1.618fr;
    grid-template-rows: 61.8dvh auto;
    grid-template-areas:
      "header header"
      ".      main";

    > * {
      grid-column: main;
    }
  }

  header {
    grid-column: header;
    align-content: end;

    div {
      margin-block-start: var(--s-1);
    }
  }

  h1 {
    --font: var(--font-heavy);
    --font-size: var(--s6);

    color: var(--c-navy);
    line-height: 0.9;
  }

  ul {
    text-transform: uppercase;
  }

  img {
    width: 100vw;
    margin-left: calc(50% - 50vw);

    @media (min-width: 600px) {
      width: calc(100% + var(--s0));
      margin-left: calc(var(--s0) * -1);
    }
  }
</style>
